{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>
            {% block title %}
            {% endblock title %} | LetsShop
        </title>
        {% block head %}
        {% endblock head %}
        <link rel="icon" href="{% static 'logo/cartlogo.png' %}">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>
    <body>
        <style>
            {% block css %}
            {% endblock css %}
        </style>
        {% block body %}
        {% endblock body %}
        <script>
            {% block javascript %}
            {% endblock javascript %}
        </script>
    </body>
</html>